In [536]:
import pandas as pd
import SRC.function as F
import re
df = pd.read_csv("INPUT/GSAF5.csv", encoding = "cp1252")
#df.head()

In [537]:
# Remove columns with NaN values for all or almost all elements

null_cols = df.isnull().sum()
dim = df.shape
print("\nTotal number of values: ",dim[0])
print("\nTotal count of NaN values: \n\n",null_cols)

# we remove columns with at least 90% of NaN

drop_cols = list(null_cols[null_cols > df.shape[0]*0.9].index)
print("\nColumns to drop: \n",*drop_cols)
df = df.drop(drop_cols,axis=1)

Total number of values:  5992

Total count of NaN values:

 Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

Columns to drop:
 Unnamed: 22 Unnamed: 23

In [538]:
# the next step is to remove similar columns
# we can also delete columns "Case Number.1" and "Case Number.2", as they are very similar to "Case Number" column
                             
drop1 = sum(df["Case Number"]==df["Case Number.1"])
drop2 = sum(df["Case Number"]==df["Case Number.2"])
                           
print("\nCommon elements between Case Number and Case Number.1: {} ({}%)".format(drop1,round(drop1*100/dim[0],2)))
print("Common elements between Case Number and Case Number.2: {} ({}%)".format(drop2,round(drop2*100/dim[0],2)))

df = df.drop(["Case Number.1","Case Number.2"],axis=1)

# because "href" and "href formula" are the same, one of them can also be removed

drop3 = sum(df["href"]==df["href formula"])
                           
print("Common elements between href and href formula: {} ({}%)".format(drop3,round(drop3*100/dim[0],2)))
df = df.drop(["href formula"], axis=1)

Common elements between Case Number and Case Number.1: 5979 (99.78%)
Common elements between Case Number and Case Number.2: 5990 (99.97%)
Common elements between href and href formula: 5938 (99.1%)

In [539]:
# we can check if there are any rows with a high amount of NaN

df_rows = df.T
null_rows = df_rows.isnull().sum()
print(max(null_rows))

print("no rows can be removed as they all provide a significant amount of information")

#df.head()

9
no rows can be removed as they all provide a significant amount of information

In [540]:
# we must check if there are any duplicate rows 

duplicates = df[df.duplicated()]
print(len(duplicates))

0

In [541]:
# First we check all the columns and the data type of each one of them

print(df.dtypes)
df = df.astype(str)
df = df.fillna("0")

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href                      object
original order             int64
dtype: object

In [542]:
####################################################### DATE #########################################################
date = df["Date"]
year = df["Year"]
for y in range(0,len(year)):
    if re.search("\d\d\d\d",year[y])==None:
        df["Year"][y] = "Unknown"
        
    
for x in range(0,len(date)):
    if re.search("(?i)\d\d-\w\w\w-\d\d\d\d",date[x]):
        if re.search("(?i)Reported\s\d\d-\w\w\w-\d\d\d\d",date[x]):
            df["Date"][x] = re.findall("(?i)\d\d-\w\w\w-\d\d\d\d",date[x])
    else:
        if re.search("(?i)\d\d-\w\w\w-\d\d",date[x]):
            df["Date"][x] = date[x][0:2]+"-"+date[x][3:6]+"-"+year[x]
        elif re.search("(?i)\s?\w\w\w-\d\d$",date[x]):
            if year[x]!="Unknown":
                df["Date"][x] = "XX-"+date[x][0:3]+"-"+year[x]
            else:
                df["Date"][x] = "Unknown"
        elif re.search("(?i)^\d\d\d\d$",date[x]):
            df["Date"][x] = "DD-MMMM-"+date[x]
        else: 
            if year[x]!="Unknown":
                df["Date"][x] = "XX-MMM-"+year[x]
            else:
                df["Date"][x] = "Unknown"

In [543]:
##################################################### CASE NUMBER ########################################################

date = list(df["Case Number"])
n = 0
for i in range(0,len(date)):
    date[i] = re.sub("\.","/",date[i])
    date[i] = date[i][0:10]
    df["Case Number"][i] = date[i]    
for i in range(0,len(date)):   
    if date[i][5:10] == "00/00":
        df["Case Number"][i] = date[i][0:4]
    elif date[i][0:2]=="ND":
        n += 1
        df["Case Number"][i] = "Unidentified #{}".format(n)

        
# we set an ID for each case also print date and reorder the data according to original order column, which can be removed
for c in range(0,len(date)):
    df["Case Number"][c] = str(c)  

df = df.drop(["original order"], axis=1)
df = df.rename(columns=({"Case Number":"Case Id"}))

In [544]:
######################################################## TYPE ########################################################

F.renameF(df,"Type","Boat","Unprovoked")
F.renameF(df,"Type","Boating","Unprovoked")
F.renameF(df,"Type","Invalid","Unknown")
F.renameF(df,"Type","Sea Disaster","Unprovoked")

print(df["Type"].value_counts())

Unprovoked    4916
Provoked       557
Unknown        519
Name: Type, dtype: int64

In [545]:
#################################################### ACTIVITY ########################################################

e = df["Activity"]

kite = e.apply(F.findF,args=("kite|board|kayak|cano|sail|wake|row",))
dive = e.apply(F.findF,args=("div",))
swim = e.apply(F.findF,args=("swim|wad|snork|water|float|bath",))
fish = e.apply(F.findF,args=("fish|collect",))
surf = e.apply(F.findF,args=("surf",))

for i in range(len(e)):
    if kite[i]!=None:
        df["Activity"][i] = "Water sports"
    elif dive[i]!=None:
        df["Activity"][i] = "Diving"
    elif swim[i]!=None:
        df["Activity"][i] = "Swimming"
    elif fish[i]!=None:
        df["Activity"][i] = "Fishing"
    elif surf[i]!=None:
        df["Activity"][i] = "Surfing"
    else:
        df["Activity"][i] = "Other"
    


print(df["Activity"].unique())

['Surfing' 'Fishing' 'Swimming' 'Water sports' 'Other' 'Diving']

In [546]:
country = df["Country"]
for x in range(len(country)):
    if country[x] == "Nan":
        df["Country"] = "Unknown"
    if re.search("(?i)\w\?",country[x]):
        country[x] = re.sub("\?","",country[x])
        df["Country"][x] = country[x].title()
    if country[x]!="USA" and country[x] != "UNITED ARAB EMIRATES (UAE)":
        df["Country"][x] = country[x].title()
    

print(df["Country"].unique())

['USA' 'Australia' 'New Caledonia' 'Reunion' 'Bahamas' 'Spain' 'China'
 'Japan' 'Columbia' 'South Africa' 'Egypt' 'New Zealand' 'Indonesia'
 'French Polynesia' 'Cape Verde' 'Fiji' 'Brazil' 'Dominican Republic'
 'Cayman Islands' 'United Arab Emirates' 'Aruba' 'Mozambique' 'Thailand'
 'Puerto Rico' 'Italy' 'Mexico' 'Atlantic Ocean' 'Greece' 'Mauritius'
 'Nan' 'St. Martin' 'France' 'Ecuador' 'Papua New Guinea'
 'Trinidad & Tobago' 'Kiribati' 'Israel' 'Diego Garcia' 'Taiwan' 'Jamaica'
 'Palestinian Territories' 'Guam' 'Seychelles' 'Belize' 'Philippines'
 'Nigeria' 'Tonga' 'Scotland' 'Canada' 'Croatia' 'Saudi Arabia' 'Chile'
 'Antigua' 'Kenya' 'Russia' 'Turks & Caicos' 'Costa Rica' 'United Kingdom'
 'Malaysia' 'UNITED ARAB EMIRATES (UAE)' 'Samoa' 'Azores'
 'Solomon Islands' 'South Korea' 'Malta' 'Vietnam' 'Madagascar' 'Panama'
 'Somalia' 'Nevis' 'Cuba' 'England' 'British Virgin Islands' 'Norway'
 'Senegal' 'Yemen' 'Gulf Of Aden' 'Sierra Leone' 'St. Maartin'
 'Grand Cayman' 'Liberia' 'Vanuatu' 'Mexico ' 'Honduras' 'Venezuela'
 'Sri Lanka' ' Tonga' 'Uruguay' 'India' 'Micronesia' 'Caribbean Sea'
 'Okinawa' 'Tanzania' 'Marshall Islands' 'Egypt / Israel'
 'Northern Arabian Sea' 'Hong Kong' 'El Salvador' 'Angola' 'Bermuda'
 'Montenegro' 'Iran' 'Tunisia' 'Namibia' 'North Atlantic Ocean' 'Portugal'
 'South China Sea' 'Bangladesh' 'Palau' 'Western Samoa' 'Pacific Ocean '
 'British Isles' 'Grenada' 'Iraq' 'Turkey' 'Singapore' 'New Britain'
 'Sudan' 'Johnston Island' 'South Pacific Ocean' 'New Guinea' 'Red Sea'
 'North Pacific Ocean' 'Federated States Of Micronesia'
 'Mid Atlantic Ocean' 'Admiralty Islands' 'British West Indies'
 'South Atlantic Ocean' 'Persian Gulf' 'Red Sea / Indian Ocean'
 'Pacific Ocean' 'North Sea' 'Nicaragua ' 'Maldive Islands'
 'American Samoa' 'Andaman / Nicobar Islandas' 'Gabon' 'Mayotte'
 'North Atlantic Ocean ' 'The Balkans' 'Argentina' 'Martinique'
 'Indian Ocean' 'Guatemala' 'Netherlands Antilles'
 'Northern Mariana Islands' 'Iran / Iraq' 'Java' ' Philippines'
 'Nicaragua' 'Central Pacific' 'Solomon Islands / Vanuatu'
 'Southwest Pacific Ocean' 'Bay Of Bengal' 'Mid-Pacifc Ocean' 'Slovenia'
 'Curacao' 'Italy / Croatia' 'Barbados' 'Monaco' 'Guyana' 'Haiti'
 'San Domingo' 'Ireland' 'Kuwait' 'Libya' 'Yemen ' 'Mediterranean Sea'
 'Falkland Islands' 'Crete' 'Cyprus' 'Egypt ' 'Burma' 'Lebanon' 'Paraguay'
 'British New Guinea' 'Ocean' 'Georgia' 'Syria' 'Tuvalu' 'Guinea'
 'Equatorial Guinea / Cameroon' 'Cook Islands' 'Algeria' 'Coast Of Africa'
 'Tasman Sea' 'Ghana' 'St Helena' 'Greenland' 'Sweden' 'Iceland'
 'Between Portugal & India' 'Djibouti' 'Bahrein' 'Korea' 'Asia'
 'Ceylon (Sri Lanka)']

In [570]:
names = df["Name"].tolist()
for n in range(len(names)):
    names[n] = names[n].strip()
    if re.search("male*",names[n]) or re.search("boy.*",names[n]) or re.search("nan$",names[n]):
        df["Name"][n] = "Unknown"
    else:
        if re.search("Occupant:+",names[n]):
            names[n] = re.sub("Occupant","",names[n])
            print(names[n])
    
#df["Name"].value_counts()

: Ben Stratton
: Ben Raines
: Grant Wardell
16' Dreamcatcher. : Ian Bussus
4-m runabout. : Allen Gade
4.9 m fibreglass boat. : Jack Siverling
: Hasan Olta
12 m fishing boat. : Henry Tervo
:     Mr. Maciotta

In [414]:
######################################################### SURVIVAL ###################################################

survival = df["Fatal (Y/N)"]
serie = F.Fatality(survival)
#print(df["Survival"].value_counts())

In [415]:
################################################### TIME #############################################################

#check unique values to unify time information

for t in range(0,len(df_new["Time"])):
    time = df_new["Time"][t]
#change values in %%h%%m format
    if re.search("\d\d+",time):
        split = (re.split("h",time))
        if split[0] < "12":
            df_new["Time"][t] = "Morning"
        elif split[0]>"12" and split[0]<"16":
            df_new["Time"][t] = "Afternoon"
        elif split[0]>"16" and split[0]<"20":
            df_new["Time"][t]="Evening"
        else:
            df_new["Time"][t] = "Night"    
#change other formats
    Morning = ["Dawn","AM","A.M.","daybreak","morning"]
    Afternoon = ["After","Midday","noon","lunch","Daytime"]
    Evening = ["P.M.","PM","Evening","dusk","sunset","sundown"]
    Night = ["night","Dark"]
    for m in Morning:
        F.find_Time(df_new,"Time",time,t,m,"Morning")
    for a in Afternoon:
        F.find_Time(df_new,"Time",time,t,a,"Afternoon")
    for e in Evening:
        F.find_Time(df_new,"Time",time,t,e,"Evening")        
    for n in Night:
        F.find_Time(df_new,"Time",time,t,n,"Night")            
                        
                        
                        
    unknown = ["x","0","--","\xa0","  ","   "," "]
    for u in unknown:
        if re.match("(?i)"+u,time):
            F.find_Time(df_new,"Time",time,t,u,"Unknown")

NameError: name 'df_new' is not defined

In [ ]:
print(df_new["Time"].unique())