In [1]:
import pandas as pd
import SRC.function as F
import re

df = pd.read_csv("INPUT/GSAF5.csv", encoding = "cp1252")
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [2]:
# First we check all the columns and the data type of each one of them

print(df.dtypes)

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [3]:
# Remove columns with NaN values for all or almost all elements

null_cols = df.isnull().sum()
dim = df.shape
print("\nTotal number of values: ",dim[0])
print("\nTotal count of NaN values: \n\n",null_cols)
# we remove columns with at least 90% of NaN

drop_cols = list(null_cols[null_cols > df.shape[0]*0.9].index)
print("\nColumns to drop: \n",*drop_cols)
df = df.drop(drop_cols,axis=1)

# we can also delete columns "Case Number.1" and "Case Number.2", as they are very similar to "Case Number" column
                           
                        
drop1 = sum(df["Case Number"]==df["Case Number.1"])
drop2 = sum(df["Case Number"]==df["Case Number.2"])
                           
print("\nCommon elements between Case Number and Case Number.1: {} ({}%)".format(drop1,round(drop1*100/dim[0],2)))
print("Common elements between Case Number and Case Number.2: {} ({}%)".format(drop2,round(drop2*100/dim[0],2)))

df_new = df.drop(["Case Number.1","Case Number.2"],axis=1)

# because "href" and "href formula" are the same, one of them can also be removed

drop3 = sum(df["href"]==df["href formula"])
                           
print("Common elements between href and href formula: {} ({}%)".format(drop3,round(drop3*100/dim[0],2)))
df_new = df_new.drop(["href formula"], axis=1)

Total number of values:  5992

Total count of NaN values:

 Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

Columns to drop:
 Unnamed: 22 Unnamed: 23

Common elements between Case Number and Case Number.1: 5979 (99.78%)
Common elements between Case Number and Case Number.2: 5990 (99.97%)
Common elements between href and href formula: 5938 (99.1%)

In [4]:
# we can check if there are any rows with a high amount of NaN

df_rows = df_new.T
null_rows = df_rows.isnull().sum()
print(max(null_rows))

# no rows can be removed as they all provide a significant amount of information

df_new.head()

9

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5989

In [6]:
# performing different analysis we can improve the table using different methods:

#print(df_new["Type"].value_counts())
F.renameF(df_new,"Type","Boat","Boating")


df_new = df_new.fillna("0")
F.renameF(df_new,"Activity", "Kitesurfing","Kite Surfing")





e = df_new["Activity"].values
x = []
for i in e:
    if re.search("surf",i):
        x.append(i)
print(x)

['Kite surfing', 'Kite surfing', 'Body surfing', 'Kite surfing', 'Windsurfing', 'Body surfing?', 'Bodysurfing', 'Body surfing or Boogie boarding', 'Body surfing', 'Body surfing', 'Body surfing', 'Walking in surf', 'Body surfing', 'Playing in the surf', 'Windsurfing', 'Body surfing', 'Attempting to Kite surf from Egypt to Saudi Arabia', 'Playing in the surf', 'Playing in the surf', 'Body surfing', 'Windsurfing', 'Paddle-surfing', 'Diving, but on the surface when bitten by the shark', 'Swimming, towing surfboard', 'Swimming or surfing', 'Body surfing', 'Body surfing', 'Body surfing', 'Walking out of the water after surfing', 'Fishing from surfski', 'Walking out of the water after surfing', 'Walking out of the water after surfing', 'Body surfing', 'Scurfing (surfboard being  towed behind a boat)', 'Tandem surfing', 'Swimming or surfing', 'Sitting on surfboard', 'Sitting on surfboard', 'Walking, carrying surfboard & stepped on shark', 'Sitting on surfboard', 'Playing in the surf with his 2 dogs', 'Scallop diving (using surface-supplied air & a POD) ', 'Body surfing', 'Surfing, fell off surfboard & stepped on the shark.', 'Standing alongside surfboard', 'Body surfing', 'Sitting on surfboard', 'Standing / surfing', 'Swimming / Body surfing', 'Windsurfing, but sitting on his board', 'Body surfing', 'Spearfishing, but swimming at surface', 'Body surfing', 'Surfing, lying on surfboard', 'Wading to shore after surfing', 'Wading with surfboard', 'Body surfing', 'Windsurfing', 'Body surfing or body boarding', 'Body surfing', 'Swimming / surfing', 'Windsurfing', 'Sitting on surfboard', 'Body boarding or surfing', 'Walking / surfing', 'Body surfing', 'Body surfing, stood up on sandbar', 'Windsurfing', 'Windsurfing', 'Sitting on surfboard', 'Body surfing', 'Windsurfing', 'Abalone diving using Hookah (resting on the surface)', 'Jumped off surfboard & landed on the shark', 'Wind surfing', 'Windsurfing', 'Windsurfing', 'Paddling on surfboard or body board', 'Paddling on surfboard', 'Lying on surfboard', 'Sitting on surfboard', 'Sitting on surfboard', 'Scuba diving (but on surface)', 'Free diving / spearfishing, from paddleboard & floating on the surface', 'Scuba diving (but on surface)', 'Resting on surfboard', 'Lying on surfboard & paddling', 'Sitting on surfboard', "Fell off surfboard 20' from shore", 'Windsurfing (urinating on his board)', 'Paddling on surfboard', 'Paddling on surfboard', 'Windsurfing', 'Scuba diving, but swimming on surface', 'Windsurfing', 'Body surfing', 'Lying atop surfboard', 'Body surfing', 'Windsurfing', 'Windsurfing', 'Scuba Diving for lobster (at surface)', 'Surfing or body surfing', 'Free diving , but surfacing', 'Windsurfing', 'Windsurfing', 'Windsurfing', 'Windsurfing', 'Spearfishing, but swimming on surface', 'Snorkeling on surface', 'Body surfing', 'Body surfing', 'Body surfing', 'Free diving for abalone (surfacing)', "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board", 'Surfing, fell off surfboard', 'Scuba diving for abalone (at surface)', 'Scuba diving (but on surface)', 'Scuba diving (but on surface)', 'Free diving (but on surface)', 'Body surfing', 'Body surfing', 'Body surfing', 'Body surfing', 'Freediving for abalone (at surface)', 'Free diving / spearfishing (resting on the surface)', 'Body surfing', 'Body surfing ', 'Paddling on surfboard', 'Body surfing', 'Body surfing', 'Spearfishing / Scuba diving (at surface)', 'Splashing in surf', 'Spearfishing / Scuba diving (at surface)', 'Playing in surf with his child  (9)', 'Spearfishing / Scuba diving (at surface)', 'Chasing shark out of bathing area while riding on a surf-ski', 'Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water', 'Free diving but treading water at surface', 'Skindiving for abalone (but at surface)', 'Body surfing', 'Trailing the field in a surf race', "Swimming at surface through school of feeding 2.5' to 5â€™ sharks", 'Spearfishing (but on surface)', 'Spearfishing / swimming on surface', 'Body surfing', 'Body surfing', 'Line fishing from Lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air', 'Swimming, attacked at  surf carnival', 'Body surfing', 'Lying prone on surfboard', 'Body surfing & treading water', 'Swimming on surface', 'Fell off surf ski', 'Fishing, casting in the surf', 'Body surfing', 'Body surfing', 'Spearfishing (but treading water on the surface)', 'Paddling a surfboat', 'Body surfing', 'Body surfing / treading water', 'Body surfing', 'Fishing from surf ski', 'Fishing from surf ski', 'Body surfing', 'Body surfing', 'Body surfing', 'Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface', 'Body surfing', 'Trochus diving, but floating on surface', 'Diving for trochus , but swimming on surface', 'Surfing (pneumatic surfboard)', 'Body surfing', "Diving for trochus  from dinghy when seized by shark 6' below the surface", 'Bathing or body surfing ', 'Launching rowboat through the surf', 'Launching rowboat through the surf', 'Body surfing', 'Body surfing', 'Body surfing', 'Body surfing / treading water', 'Body surfing', 'Skin diving for trepang but at surface next to the boat', 'Washed off catamaran in the surf']

In [ ]:
df_new["Date"].value_counts()

#con una regex cambiar el aÃ±o al primer digito para ordernar

In [ ]:
# We substitute all NaN values by 0 in order to make the analysis easier

df = df.fillna(0)